# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Build / Distribution
build/
dist/

# Binaries
bin/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
